* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding-bottom: 50px;
    position: relative;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1120px;
    margin: auto;
    padding: 0 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.logo {
    width: 100px;
    color: #4468e2;
}

.menuparent {
    width: 116%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    padding: 0;
    margin: auto;
    display: inline-block;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.connect-btn {
    width: 100px;
    padding: 5px 0;
    border-radius: 12px;
    border: 1px solid #4468e2;
    transition: all 0.5s ease-in-out;
    color: #fff;
    background-color: #4468e2;
}

.connect-btn:hover {
    background-color: unset;
    color: black;
}

.close {
    display: none;
}

.Menu-Item {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

.Menu-Links {
    color: grey;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
}

.bar {
    display: none;
}

.homebanner {
    background: url(../assets/home1.jpg) no-repeat center;
    background-size: cover;
    height: 60vh;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.homebanner-div {
    width: 60%;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-text {
    color: #fff;
}

.home-text h1 {
    text-transform: uppercase;
    font-size: 25px;
}

.home-text p {
    font-size: 14px;
    width: 52%;
    margin: auto;
    padding: 10px 0;
    line-height: 20px;
}

.homeExplorediv {
    width: 90%;
    background-color: #fff;
    padding: 8px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: auto;
}

.want-go {
    width: 28%;
    position: relative;
}

.f-13 {
    font-size: 13px;
}

.want-go input {
    width: 80%;
    margin: auto;
    border: none;
    font-size: 10px;
    padding-left: 16px;
    outline: none;
}

.want-go input::placeholder {
    font-size: 10px;
    color: rgb(195, 190, 190);
}

.want-go-underline::before {
    content: '';
    position: absolute;
    top: 15px;
    right: -20px;
    transform: rotate(90deg);
    background-color: rgb(195, 190, 190);
    width: 40px;
    height: 0.8px;
}

.check-in {
    width: 20%;
    position: relative;
    text-align: left;
}

.date {
    color: rgb(195, 190, 190);
    font-size: 9px;
    padding-top: 6px;
}

.check-in::before {
    content: '';
    position: absolute;
    top: 15px;
    right: -20px;
    transform: rotate(90deg);
    background-color: rgb(195, 190, 190);
    width: 40px;
    height: 0.8px;
}

.explore {
    width: 20%;
}

.explore button {
    background-color: #4468e2;
    border: 1px solid #4468e2;
    padding: 10px 20px;
    font-size: 9px;
    color: #fff;
    border-radius: 8px;
    margin-right: -10px;
    transition: all 0.5s ease-in-out;
}

.explore button:hover {
    background-color: unset;
    color: black;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10px;
}

.cards {
    width: 22%;
    padding: 15px;
    border: 1px solid rgb(228, 226, 226);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.cards:hover {
    box-shadow: 0 0 10px rgb(189, 187, 187);
}

.price-icon {
    width: 50px;
    padding: 12px 0;
    background-color: #f3f6fc;
    text-align: center;
    font-size: 20px;
    color: #4468e2;
    border-radius: 8px;
}

.card-text {
    padding-top: 7px;
}

.card-text p {
    font-size: 11px;
    color: rgb(152, 149, 149);
    padding-top: 12px;
    line-height: 15px;
}

.section3 {
    background-color: #fafdff;
}

.reco-heading {
    text-align: center;
    text-transform: capitalize;
    padding: 40px 0;
}

.reco-headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    position: relative;
}

.reco-headings::before {
    position: absolute;
}

.reco-headings h4 {
    text-transform: capitalize;
}

.reco-cardsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    flex-wrap: wrap;
}

.reco-card {
    width: 33%;
    margin-bottom: 100px;
    padding: 0 20px;
}

.card-image {
    width: 100%;
}

.card-image img {
    width: 100%;
    border-radius: 10px;
}

.reco-cardText h3 {
    padding-top: 12px;
}

.reco-cardText p {
    color: rgb(183, 177, 177);
    font-size: 12px;
    padding: 10px 0;
}

.reco-cardDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.reco-iconDiv {
    width: 60px;
}

.reco-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.reco-icon span {
    color: #fff;
    background-color: #1c4961;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.reco-icon .Recoicon {
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}

.reco-iconDiv p {
    font-size: 11px;
    color: rgb(134, 132, 132);
    padding-top: 10px;
}

.reco-price {
    width: 150px;
    text-align: right;
}

.reco-price p {
    font-size: 11px;
    color: rgb(134, 132, 132);
    padding-top: 7px;
}

.Blogs {
    padding: 100px 0 80px 0;
}

.blogsImages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.blog-mount {
    width: 58%;
    position: relative;
}

.blog-mount img {
    width: 100%;
    border-radius: 10px;
}

.blog-mount h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    width: 48%;
    text-transform: capitalize;
    text-align: center;
    transform: translate(-50%, -50%);
}

.blog-mount::before {
    content: '';
    background-color: rgba(14, 13, 13, 0.299);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.blog-travel {
    width: 39%;
}

.travel-img {
    position: relative;
}

.travel-img::before {
    content: '';
    background-color: rgba(14, 13, 13, 0.299);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.travelImage1 {
    background-image: url(../assets/travel3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
    border-radius: 10px;
    position: relative;
}

.travelImage2 {
    height: 210px;
    margin-top: 20px;
    background-image: url(../assets/travel4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
}

.travel-img h4 {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.customer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.happy-customers h1 {
    padding-bottom: 40px;
}

.happy-customer {
    width: 48%;
    padding: 10px;
    box-shadow: 0px 0px 7px rgb(217, 215, 215);
    margin-bottom: 80px;
    border-radius: 10px;
}

.happy-text {
    display: flex;
    justify-content: space-between;
}

.happy-text span {
    width: 50px;
    font-size: 35px;
    color: #e1e8f8;
}

.happy-text p {
    width: calc( 100% - 53px);
    font-size: 14px;
    line-height: 24px;
}

.manger {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.manger-img {
    background-image: url(../assets/pexels-elle-hughes-1680172.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.manger-text {
    margin-left: 20px;
}

.manger-text p {
    font-size: 13px;
}

.manger-text span {
    font-size: 11px;
    color: rgb(203, 199, 199);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1e8f8;
    padding: 30px 20px;
    border-radius: 10px;
}

.copy p {
    font-size: 13px;
}

.footer-ul {
    display: flex;
    align-items: center;
}

.footeritem {
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.footeritem::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1c4961;
    height: 1px;
}

.footer-links {
    text-decoration: none;
    color: rgb(84, 83, 83);
    font-size: 13px;
}

.footerIcon {
    display: flex;
    align-items: center;
}

.footer-padding {
    padding: 0 10px;
}

.footer-icon {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    margin: 0 6px;
    position: relative;
}

.footer-icon .Ficons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width:1200px) {
    .blogsImages {
        flex-direction: column;
    }
    .blog-mount {
        width: 80%;
    }
    .blog-travel {
        width: 80%;
        margin-top: 17px;
    }
}

@media (max-width:991px) {
    .menu ul {
        width: 60%;
    }
    .homebanner-div {
        width: 90%;
        transition: all 0.4s ease-in-out;
    }
    .home-text p {
        width: 70%;
    }
    .homeExplorediv {
        width: 100%;
    }
    .section-2 {
        flex-direction: column;
    }
    .cards {
        width: 57%;
        margin-bottom: 20px;
    }
    .reco-headings h4 {
        font-size: 13px;
    }
}

@media (max-width:830px) {
    .reco-headings h4:nth-child(1) {
        width: 100%;
        font-size: 1em;
        text-align: center;
    }
    .reco-headings h4:nth-child(2) {
        display: none;
    }
    .reco-headings h4:nth-child(3) {
        display: none;
    }
    .reco-headings h4:nth-child(4) {
        display: none;
    }
    .reco-cardsDiv {
        flex-direction: column;
    }
    .reco-card {
        width: 100%;
    }
    .footer {
        flex-direction: column;
    }
    .footerIcon {
        margin-bottom: 10px;
    }
    .footer-space {
        margin-bottom: 15px;
    }
}

@media (max-width:761px) {
    .customer-flex {
        flex-direction: column;
    }
    .happy-customer {
        width: 80%;
    }
    .cards {
        width: 100%;
    }
    .header {
        position: relative;
    }
    .menu {
        position: absolute;
        top: -19px;
        right: -9px;
        display: none;
        z-index: 10;
        /* transition: all 0.5s ease-in-out; */
        border: 1px solid grey;
        height: 100vh;
        width: 50%;
        background-color: #fff;
    }
    .menu ul {
        width: 100%;
        margin: 0;
        justify-content: unset;
        flex-direction: column;
        padding-top: 40px;
    }
    .Menu-Item {
        background-color: #e1e8f8;
        padding: 10px 0;
        width: 80%;
        margin-bottom: 30px;
        margin-left: 0;
    }
    .Menu-Item:hover {
        box-shadow: 0 0 10px rgb(194, 193, 193);
    }
    .connect-btn {
        position: relative;
        top: 6%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 140px;
    }
    .bar {
        font-size: 19px;
        display: block;
    }
    .menuactive {
        right: -10px;
    }
    .close {
        display: inline-block;
        width: 30px;
        font-size: 21px;
        top: 6px;
        right: 0;
        position: absolute;
    }
    .homeExplorediv {
        flex-direction: column;
        padding: 20px;
    }
    .exploreDivs {
        width: 100%;
        text-align: left;
        margin-bottom: 16px;
    }
    .date {
        font-size: 11px;
    }
    .want-go input {
        padding-left: 0;
        font-size: 11px;
    }
    .want-go input::placeholder {
        font-size: 11px;
    }
    .explore {
        margin: 10px 0 0 0;
    }
    .explore button {
        width: 150px;
        padding: 10px 0;
        font-size: 14px;
    }
    .check-out {
        position: relative;
    }
    .want-go-underline::before {
        top: 41px;
        left: 0;
        width: 100%;
        transform: unset;
        background-color: rgb(77, 76, 76);
    }
}

@media (max-width:430px) {
    .homebanner {
        height: 90vh;
    }
    .home-text h1 {
        font-size: 1.2em;
    }
    .blog-mount h1 {
        font-size: 0.9em;
    }
    .happy-text {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .happy-text span {
        margin: auto;
    }
    .happy-text p {
        margin: auto;
    }
    .copy {
        width: 100%;
    }
    .copy p {
        font-size: 1em;
    }
    .footer-menu {
        width: 100%;
        padding-top: 20px;
    }
    .footer-ul {
        flex-direction: column;
        align-items: unset;
    }
    .footeritem {
        margin: 0 0 14px 0;
    }
    .footer-links {
        font-size: 17px;
    }
    .footeritem::before {
        width: 18px;
    }
    .happy-customer {
        width: 100%;
    }
}

@media (max-width:400px) {
    .menu {
        width: 60%;
    }
}